/* src/components/DaySection/DaySection.css */

.day-section {
    display: flex; /* flex */
    align-items: center; /* items-center */
    justify-content: space-evenly; /* justify-evenly */
    padding: 1rem 0.5rem; /*py-4: 1rem (16px), px-2: 0.5rem (8px)*/
    border-bottom: 1px solid #e5e7eb; /* border-b: 1px solid border-gray-200 */
    border-collapse: collapse; /* border-collapse */
}
  
.day-section img {
    width: 3rem; /* w-12: 3rem = 48px */
    height: 3rem; /* h-12: 3rem = 48px */
    border-radius: 50%; /* rounded-full */
}
  
.day-section-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
  
.day-section-timepickers {
    display: flex; /* flex */
    align-items: center; /* items-center */
    gap: 0.825rem; 
    justify-content: space-evenly; /* justify-evenly */
}

.tilde {
    font-size: 1.2rem;
    /* margin: 0 0.5rem; */
    padding-left: 1rem;
    font-weight: 600; /* font-semibold */
    color: #4b5563; /* text-gray-600 */
  }  
.day-section-total {
    font-size: 1rem; /* text-sm (small) */
    font-weight: 600; /* font-semibold */
    text-align: center; /* text-center */
    color: #2d3748; /* text-gray-800 */
}
  