.timePickerBig .react-time-picker {
  width: 80%;       
  font-size: 120%;    
}

.timePickerBig .react-time-picker__wrapper {
  padding: 10%;       
  border: 2% solid #ccc; 
  border-radius: 6px;   
  display: flex;       
  align-items: center;
}
