/* src/components/WorkSettings/WorkSettings.css */

.work-settings {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    /* margin-bottom: 1rem; */
    background-color: #f9f9f9;
    
}

.work-settings h2 {
    margin-bottom: 1rem;
    text-align: left;
}

.work-settings-row {
    display: flex;
    justify-content: space-between;
}

.work-settings-label {
    font-weight: bold;

    /* text-align: center; */
    /* vertical-align: middle; */
}


.timePickerBigs .react-time-picker {
    width: 80%;       
    font-size: 120%;    
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  
.timePickerBigs .react-time-picker__wrapper {
    /* padding: 10%;        */
    border: 2% solid #ccc; 
    border-radius: 6px;   
    display: flex;       
    align-items: center;
}
